In [3]:
import pandas as pd

data_path = 'data/cat-in-the-dat/'

train = pd.read_csv(data_path + 'train.csv', index_col='id')
test = pd.read_csv(data_path + 'test.csv', index_col='id')
submission = pd.read_csv(data_path + 'sample_submission.csv', index_col='id')

In [4]:
train.shape, test.shape

((300000, 24), (200000, 23))

In [5]:
train.head().T

id                0            1          2            3            4
bin_0             0            0          0            0            0
bin_1             0            1          0            1            0
bin_2             0            0          0            0            0
bin_3             T            T          F            F            F
bin_4             Y            Y          Y            Y            N
nom_0         Green        Green       Blue          Red          Red
nom_1      Triangle    Trapezoid  Trapezoid    Trapezoid    Trapezoid
nom_2         Snake      Hamster       Lion        Snake         Lion
nom_3       Finland       Russia     Russia       Canada       Canada
nom_4       Bassoon        Piano   Theremin         Oboe         Oboe
nom_5     50f116bcf    b3b4d25d0  3263bdce5    f12246592    5b0f5acd5
nom_6     3ac1b8814    fbcb50fc1  0922e3cb8    50d7ad46a    1fe17a1fd
nom_7     68f6ad3e9    3b6dd5612  a6a36f527    ec69236eb    04ddac2be
nom_8     c389000ab    4cd920251  de9c9f684    4ade6ab69    cb43ab175
nom_9     2f4cb3d51    f83c56c21  ae6800dd0    8270f0d71    b164b72a7
ord_0             2            1          1            1            1
ord_1   Grandmaster  Grandmaster     Expert  Grandmaster  Grandmaster
ord_2          Cold          Hot   Lava Hot  Boiling Hot     Freezing
ord_3             h            a          h            i            a
ord_4             D            A          R            D            R
ord_5            kr           bF         Jc           kW           qP
day               2            7          7            2            7
month             2            8          2            1            8
target            0            0          0            1            0

In [6]:
submission.head()

        target
id
300000     0.5
300001     0.5
300002     0.5
300003     0.5
300004     0.5